@media screen and (orientation : portrait) {

    .main-fail{
        margin-top:35vh;
background-color: rgba(100,100,100,0.7);
margin-left: 8vw;
margin-right: 8vw;
padding: 40px;
border-radius: 20px;
    }

    .fail-title{
font-size: 65px;
text-align: center;
}
.fail-span{
font-size:50px;
margin:30px 10vw;

}
}


@media screen and (orientation : landscape) {

    .main-fail{
        margin-top:15vh;
background-color: rgba(100,100,100,0.7);
margin-left: 10vw;
margin-right: 10vw;
padding: 40px;
border-radius: 20px;
    }

    .fail-title{
font-size: 50px;
text-align: center;
}
.fail-span{
font-size:35px;
margin:30px 10vw;

}
}