label{
font-size:20px;

}

h2 {
margin-top: 10%;
display: block;
text-align: center;
font-size: 35px;
margin-bottom: 5%;
}

#scoreForm{
    background-color: rgba(255,255,0,0.3);
border-radius: 20px;
margin:0% 15%;
padding: 3%;
text-align: center;
}


#winner{
width: 40%;
height: 30px;
margin: 1%;
}

#winnerScore, #myScore{
width: 60px;
height: 25px;
margin: 3%;
color : white;
background-color: rgba(0,0,0,0.7);
border-radius: 20px;
padding-left: 15px;
font-family: diablo;
}

option, #winner{
    color : white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    padding-left: 15px;
    font-family: diablo;
}

.scorebox{
    display: flex;
justify-content: space-around;
margin-top: 5px;
margin-bottom: 10px;
}

#submitButton, .submitButton, #checkNicknameBtn, .backbutton{
background-color: rgba(0,0,0,0.7);
border: none;
width: 70px;
height: 30px;
border-radius: 10px;
font-family: diablo;
color: white;
}