@media screen and (orientation : portrait) {


    label{
font-size:80px;

}

#myScore, #winnerScore{
width: 200px;
height: 80px;
font-size:70px;
background-color: rgba(140,140,140,0.7);
border-radius: 20px;
border:none;
padding: 5px, 20px;
color:white;
text-align: center;
}

.scoreform div{
text-align: center;
}

#winner{
width: 450px;
height: 80px;
font-size: 60px;
background-color: rgba(140,140,140,0.7);
color:white;
border-radius: 20px;
}

form{
margin-left:45px;

}

.scorebox{
    text-align: center;
}
.scorebox div{
margin:20px 0px;
}


#submitButton{
    width: 300px;
    height: 100px;
    background-color: rgba(80,80,80,0.7);
    color:white;
    font-size: 60px;
border-radius: 20px;
border:none;
padding: 10px;
margin:20px;
margin-left:45vw;
}

.approval-button, .cancel-button{
    width: 100px;
    height: 60px;
    background-color: rgba(20,20,20,0.7);
    color:white;
    font-size: 40px;
border-radius: 10px;
border:none;
padding: 2px;
margin:10px;


}


}



@media screen and (orientation : landscape) {


    label{
        font-size:40px;
        
        }


        
#myScore, #winnerScore{
    width: 200px;
    height: 40px;
    font-size:30px;
    background-color: rgba(140,140,140,0.7);
    border-radius: 5px;
    border:none;
    padding: 1px;
    color:white;
    text-align: center;
    }
    
form{
    margin-left:55px;
    
    }



    #winner{
        width: 400px;
        height: 40px;
        font-size: 25px;
        background-color: rgba(140,140,140,0.7);
        color:white;
        border-radius: 15px;
        }
        
        .scorebox div{
            margin:20px 0px;
            }
            

            #submitButton{
                width: 200px;
                height: 60px;
                background-color: rgba(80,80,80,0.7);
                color:white;
                font-size: 35px;
            border-radius: 10px;
            border:none;
            padding: 5px;
            margin:20px;
            margin-left:55vw;
            }



            .approval-button, .cancel-button{
                width: 70px;
                height: 40px;
                background-color: rgba(20,20,20,0.7);
                color:white;
                font-size: 25px;
            border-radius: 5px;
            border:none;
            padding: 2px;
            margin:5px;
            
            
            }
            

        }

