@media screen and (orientation : portrait) {
h1 {
    font-size: 100px;
    text-align: center;
}

}


@media screen and (orientation : landscape) {

h1{

    font-size:60px;
text-align: center;
margin:35px 0;
}


}