@media screen and (orientation : portrait) {

table{
background-color: rgba(100,100,100,0.7);
margin : 40px 6%;
Width : 88vw;
border-radius: 20px;

}

.table-row{

    font-size: 45px;
    text-align: center;
    padding:25px;

}


th{
    font-size: 60px;
    text-align: center;
    padding:25px;
}

.portrait th,
.portrait td {
    font-size: 50px;
    padding: 25px;
    text-align: center;

}

.win-nick-mobile, .lose-nick-mobile{
    width: 44vw;

}


.nickname-th{
width: 50vw;

}


.landscape{
    display: none;
}
.portrait{
display:block;
}

}


@media screen and (orientation : landscape) {

    table{
        background-color: rgba(100,100,100,0.7);
        margin : 40px 6%;
        Width : 88vw;
        border-radius: 20px;
        }

        .table-row, th{

            font-size: 25px;
            text-align: center;
            padding:25px;
        }
.portrait{
display: none;

}


}